body{
    margin: 0;
    padding: 0;
    cursor: default;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.saiba_mais{
    width: 10vw;
    min-width: 100px;
    height: 2.5vw;
    min-height: 30px;

    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #313740;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 0.9vw;
    opacity: 0.8;
}
@keyframes entradaInfo{
    0%{
        opacity: 0;
        left: -200px;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}