*{
    transition: all 1s;
}
body{
    padding: 0;
    margin: 0;
    background-image: url(../../image/site_img/logar-background.png);
    background-color: #0B0D17;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width: 100%;
}
.areaLogar{
    border-radius: 0.3vw;
    position: absolute;
    top: calc(50% - 45vw/2);
    left: 30%;
    width: 40%;
    height: 45vw;
    background: rgba(230, 238, 248, 0.2);
}
.areaLogar > div{
    position: absolute;
    border-radius: 0.3vw;
    left: calc(50% - 85%/2);
    top: calc(50% - 85%/2);
    width: 85%;
    height: 85%;
    text-align: center;
    background: #ffffff;
}
.titulo img{
    width: 50%;
    margin: 2vw;
    margin-bottom: 1vw;
}
.cadastro{
    width: 90%;
    margin: auto;
}
.cadastro > div:nth-child(1){
    margin-bottom: 2vw;
}
.cadastro input{
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid lightgray;
    width: 90%;
    padding: 0.7vw;
    font-size: 1.2vw;
    margin-top: 1vw;
}
.enviar{
    color: white;
    padding-bottom: 1vw !important;
    border-radius: 5vw;
    background-color: #2B2B2B !important;
    border: 0;
    width: 70% !important;
    cursor: pointer;
}
.nome > div{
    display: inline-block;
}
.nome input{
    text-transform: capitalize;
}
.centralizar{
    position: absolute;
    top: calc(50% - 20vw);
    text-align: center;
    vertical-align: middle;
    left: calc(50% - 40vw);
    width: 80vw;
    height: 40vw;
}
.textoApresentação{
    font-family: 'Barlow Condensed', sans-serif;
    width: 100%;
    font-size: 10vw;
    animation: 1s texto;
    color: #F2F2F2;
}
@media(max-width: 1200px){
    .nome > div{
        display: block;
    }
    .areaLogar{
        top: calc(50% - 55vw/2);
        height: 55vw;
    }
}
@media(max-width:550px){
    .areaLogar{
        left: 0;
        width: 100%;
        top:0;
        height: 40%;
    }
    .cadastro input{
        font-size: 10px;
    }
    .titulo img{
        width: 30%;
        margin: 2vw;
    }
}
@keyframes texto{
    0%{
        opacity: 0;
        margin-top: 100px;
    }
    100%{
        opacity: 1;
    }
}